@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

*{
    margin:0;
    padding:0;
    border:0;
}

/*------Text/fonts i want the page to have 2 different fonts so the page becomes more uniform ----*/

body {
    font-size: 20px;
    font-family: 'Times New Roman';
}
p {
    font-size: 18px;
    font-family: 'Times New Roman';
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto';
}



/*------Navbar with padding to adjust the right location on the site. 5px was perfect----*/
.w3-panel.w3-center {
    padding:5px; 
}


/*------First section-----*/
#home {
    width: 100%;
    
}


/*------About section-----*/




/*------Gallery with a width of 100% to adjust from different screens, Responsive-----*/

#photo {
    width: 100%;
}



/*------Footer section were i fixed the footer so it fallow on the page when scrolling-----*/

footer {
position: fixed;
bottom: 0;
width: 100%;
}

/*------Location Section-----*/


#location {
    background-color:white;
    text-align: center;
    overflow: hidden;
    letter-spacing: 2px;    
}

#left-about{
    padding-top: 2px;
    width: 50%;
    float: left;
}

#right-about {
    padding-top: 2px;
    width: 50%;
    float: right;
}


/*------FooterIcons-----*/

ul {
    letter-spacing: 14px;
    background-color:white;
    margin: 0;  
    overflow: hidden;
    text-align: center;   
}


ul li {
    text-align: center;
    display: inline-block;
    
}


/*------Icons/list hover-----*/

a:link {
    color: black;
    text-decoration: none;
    }
  
     a:visited {
     color: black;
     text-decoration: none;
        }
    
    a:hover {
    color: darkgray;
    }



